.qqq {
    height: 700px;
    width:  780px;
    background-color: aqua;
}
.black {
    width: 70px;
    height: 70px;
    background-color: black;
    display: inline-block;
    border: 2px solid red;
}
.round {
    width: 67px;
    height: 67px;
    background: white;
    border: 1px solid #939393;
    /* line-height: 300px; */
    /* text-align: center; */
    /* font-size: 50px; */
    color: red;
    border-radius: 150px;
}
   .round2 {
    width: 67px;
    height: 67px;
    background: white;
    border: 1px solid #939393;
    /* line-height: 300px; */
    /* text-align: center; */
    /* font-size: 50px; */
    color: black;
    border-radius: 150px;
}
.red {
    width: 70px;
    height: 70px;
    background-color: red;
    display: inline-block;
    border: 2px solid black;
    
}
  .ram {
    /* padding: 92px; */
    /* background-color: crimson; */
    /* height: 737px; */
    border: 2px solid white;
    width: 707px;
}
.color {
    font-size: 0;
}